:root {
    --primary-text-color: #000000;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #e5e5e5;
    --color-text-description: #757575;
    --bg-color-section: #2f303a;
    --bg-color-team: #f5f4fa;
    --text-color-on-dark: #ffffff;
    --portfolio-border-color: #eeeeee;
    --section-border-color: #ececec;
    --social-link-color: #afb1b8;
    --footer-social: rgba(255, 255, 255, 0.1);
    --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 0);
    --animation-duration: 250ms;
}
html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
    color: inherit;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
}
.visualy-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*body settigs*/
a {
    text-decoration: none;
}
body {
    background-color: var(--text-color-on-dark);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    margin: 0;
}
button {
    cursor: pointer;
    border-width: 0;
}
nav {
    margin-left: 93px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.section {
    padding: 94px 0;
}
/*header*/
header {
    border-bottom: 1px solid var(--section-border-color);
}
.header-container {
    display: flex;
    align-items: center;
}
.site-contact {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.header-connect {
    margin-left: auto;
}
.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}

.logo-studio-primary {
    color: var(--primary-text-color);
    padding: 24px 0;
}
.logo-web {
    color: var(--accent-color);
}

.logo-studio-secondary {
    color: var(--primary-bg-color);
}
/*site-nav*/
.site-nav {
    display: flex;
    align-items: center;
    padding: 0;
}
.nav-link {
    position: relative;
    display: block;
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 32px 0;
    transition: color var(--animation-duration) var(--animation-timing-function);
}
.nav-item:not(:last-child) {
    margin-right: 50px;
}
.nav-link:hover,
.nav-link:focus {
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}
.current {
    color: var(--accent-color);
    transition: color var(--animation-duration) var(--animation-timing-function);
}
.header-item:last-child {
    margin: 0;
}

/*site-contact*/
.site-contact {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contact-item:not(:last-child) {
    margin-right: 50px;
}
.current::after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 4px;
}
.contact-link {
    color: var(--color-text-description);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: block;
    transition: color var(--animation-duration) var(--animation-timing-function);
}
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-color);
}
.header-icon-mail {
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle;
}
.header-icon-mail:hover,
.header-icon-mail:focus {
    fill: var(--accent-color);
}
.header-icon-phone {
    margin-right: 10px;
    fill: currentColor;
    vertical-align: middle;
}
.header-icon-phone:hover,
.header-icon-phone:focus {
    fill: var(--accent-color);
}

/*hero*/
.hero {
    background-color: var(--bg-color-section);
    text-align: center;
    padding: 200px 0;
}

.hero-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-color-on-dark);
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.primary-button {
    color: var(--text-color-on-dark);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    padding: 10px 36px;
    border: none;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
}
.overlay {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0px;
    background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../images/imgoverlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
/*modal*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--animation-duration)
            var(--animation-timing-function),
        visibility var(--animation-duration) var(--animation-timing-function);
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.7);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: var(--text-color-on-dark);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform var(--animation-duration)
        var(--animation-timing-function);
}
.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background: transparent;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill var(--animation-duration) var(--animation-timing-function);
}
.button-close:hover {
    fill: var(--accent-color);
}
/*features*/
.features {
    padding-bottom: 0;
}
.features-list {
    display: flex;
}

.features-item {
    width: 270px;
}
.features-item:not(:last-child) {
    margin-right: 30px;
}
.features-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.features-description {
    color: var(--color-text-description);
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.7;
}
.features-icon-back {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background-color: var(--bg-color-team);
    border-radius: 4px;
    padding: 25px 0;
}

/*actitvity*/
.activity-list {
    display: flex;
    align-items: center;
}
.activity-list {
    padding-top: 0;
}
.activity-item:not(:last-child) {
    margin-right: 30px;
}

.section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.activity-thumb {
    position: relative;
}
.activity-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-on-dark);
}
/*team*/
.team-list {
    display: flex;
}
.team {
    background-color: var(--bg-color-team);
}
.team-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
    margin-right: 30px;
}
.specialist-title {
    font-size: 16px;
    line-height: 1.18;
    font-weight: 500;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.specialist-description {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--color-text-description);
}
.specialist-item {
    text-align: center;
    padding: 30px 0;
}
.specialist-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}
.specialist-description {
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--paragraf-color);
    margin-bottom: 16px;
}
.specialist-social {
    display: inline-flex;
    align-content: center;
}
.social-links {
    width: 44px;
    height: 44px;
}
.social-links:not(:last-child) {
    margin-right: 10px;
}

.specialist-icon-back {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: var(--social-link-color);
    justify-content: center;
    transition: fill var(--animation-duration) var(--animation-timing-function),
        background-color var(--animation-duration)
            var(--animation-timing-function);
}
.specialist-icon-back:hover,
.specialist-icon-back:focus {
    fill: var(--text-color-on-dark);
    background-color: var(--accent-color);
}
.social-links:not(:last-child) {
    margin-right: 10px;
}

/*button*/
.button-exclude {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}
.button-item:not(:last-child) {
    margin-right: 8px;
}

.secondary-button {
    display: inline-block;
    color: var(--primary-text-color);
    background-color: var(--bg-color-team);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    padding: 6px 22px;
    border-color: transparent;
    border-radius: 4px;
    min-width: 73px;
    transition: color var(--animation-duration) var(--animation-timing-function),
        background-color var(--animation-duration)
            var(--animation-timing-function),
        box-shadow var(--animation-duration) var(--animation-timing-function);
}

.secondary-button:hover {
    color: var(--bg-color-team);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*portfolio types-list*/
.types-list {
    display: flex;
    flex-wrap: wrap;
}
.types-item:not(:nth-child(3n)) {
    margin-right: 30px;
}
.types-link {
    display: block;
    transition: box-shadow var(--animation-duration)
        var(--animation-timing-function);
}

.types-image {
    display: block;
    transition: box-shadow var(--animation-duration)
        var(--animation-timing-function);
}
.types-item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.types-link:hover .projects-overlay,
.types-link:focus .projects-overlay {
    transform: translateY(0%);
}
.types-link:hover,
.types-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-animation {
    position: relative;
    overflow: hidden;
    display: flex;
}
.projects-overlay {
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(101%);
    transition: transform var(--animation-duration)
        var(--animation-timing-function);
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--text-color-on-dark);
    background-color: var(--accent-color);
}
.item-description-field {
    padding: 20px 24px;
    border-left: 1px solid var(--title-text-color);
    border-right: 1px solid var(--title-text-color);
    border-bottom: 1px solid var(--title-text-color);
}
.types-title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.description-types {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: var(--color-text-description);
}
.item-description {
    padding: 20px 24px;
    border-left: 1px solid var(--portfolio-border-color);
    border-right: 1px solid var(--portfolio-border-color);
    border-bottom: 1px solid var(--portfolio-border-color);
}

/*our-cusromers*/
.our-cusromers-header {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.our-cusromers-list {
    display: flex;
}
.our-cusromers-items:not(:last-child) {
    margin-right: 30px;
}

.our-cusromers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    fill: var(--social-link-color);
    border: 1px solid var(--social-link-color);
    border-radius: 4px;
    padding: 16px 0;
    transition: fill var(--animation-duration) var(--animation-timing-function),
        border var(--animation-duration) var(--animation-timing-function);
}
.our-cusromers-link:hover,
.our-cusromers-link:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}
/*footer*/
footer {
    background-color: var(--bg-color-section);
    padding: 60px 0;
}

address {
    font-style: normal;
    margin-top: 20px;
}
.address-item:not(:last-child) {
    margin-bottom: 9px;
}
.address-link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--hover-text-color);
}
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}
.footer-contacts {
    margin-right: 70px;
}
.footer-contact-link {
    display: block;
    letter-spacing: 0.03em;
    color: var(--color-text-description);
}
.address-link {
    color: var(--bg-color-team);
    transition: color var(--animation-duration) var(--animation-timing-function);
}
.footer-list-text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color-on-dark);
}
.footer-list:not(:last-child) {
    margin-right: 10px;
}
.footer-objects {
    display: flex;
}
.footer-icons-position {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-icon {
    transition: fill var(--animation-duration) var(--animation-timing-function);
}
.footer-icon:hover,
.footer-icon:focus {
    fill: var(--bg-color-team);
}
.dark.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    fill: var(--text-color-on-dark);
    border-radius: 50%;
    background-color: var(--footer-social);
    transition: background-color var(--animation-duration)
        var(--animation-timing-function);
}
.dark:hover,
.dark:focus {
    background-color: var(--accent-color);
}
